@import url('https://fonts.googleapis.com/css?family=Cedarville+Cursive&display=swap');



.header{
    height: 250px;
    background-position: 0 35%;
    background-size: cover;
}

.header-overlay{
    background-color: rgba(199, 111, 207, 0.24);
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.header-title{
    font-family: 'Cedarville Cursive', cursive;
    font-size: 70px;
    color: white;
    

}
