.home{
    margin : 100px;
    }

.heading{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto 30px auto;
   
}

.button{
    display: flex;
    justify-content: center;
}
