@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');


.home{
    margin : 100px;
    }

.heading{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto 30px auto;
    text-align: center;
   
}

.button{
    display: flex;
    justify-content: center;
}


div{
    font-family: 'Quicksand', sans-serif;
}